QGraphicsView {
    padding: 0px;
    border: 0px;
}

QTabWidget::tab-bar{
    alignment: left;
}

QTabWidget::pane {
    background-color: rgba(0, 0, 0, 0);
}

QTreeView::item:hover {
    background-color: rgba(0, 105, 217, 255);
    color: rgba(255, 255, 255, 255);
}